<html>
<head>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link type = "text/css" href="css/main.css" rel="stylesheet">

<title>Marvel Hero Summary</title>
</head>
<body>

	<h1 class = "overlay">Marvelary</h1>

	<!-- <form action = "http://localhost:8000/getData"> -->
	<!-- <input type = "text" name = "char" placeholder = "character"> -->
<!-- 		<input type = "submit">
	</form> -->

    <div class="container">
    	<div class = "flex" style = "padding: 20px">
			<img src = "img/search.svg" style = "padding-right: 10px">
			<input type = "text" name = "char" placeholder = "character" style = "border-bottom: 3px solid white;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 90%;
    color: white">
		</div>
		<div class="row">
			<div class="col-md-12">
				<div style="display:inline-block;width:100%;overflow-y:auto;background: gray;">
					<!-- timeline container -->
					<ul class="timeline timeline-horizontal" id = 'timeline-container'>
					</ul>
				</div>
			</div>
		</div>
	</div>
<script>

let input = document.getElementsByTagName("input")[0]
input.addEventListener('keypress', function(e) {
	console.log(e)
	if (e.key == "Enter") {
		console.log("right")
		var container = document.getElementById('timeline-container')

		container.innerHTML = "<ul class='timeline timeline-horizontal' id = 'timeline-container'></ul>"
		// const raw_output = httpGet('http://localhost:8000/getData?character=spider-man')
		const raw_output = httpGet('http://localhost:8000/getData?character=' + input.value)
		const JSON_output = JSON.parse(raw_output)
		console.log(JSON_output)

		for (index in JSON_output.creators) {
			let creator = JSON_output.creators[index]
			let desc = JSON_output.descriptions[index]
			let title = JSON_output.titles[index]
			let year = JSON_output.years[index]
			appendEvent(creator, desc, title, year);
		}
	}
})

function httpGet(theUrl) {
  console.log(theUrl)
  var xmlHttp = new XMLHttpRequest();
  xmlHttp.open( "GET", theUrl, false );
  xmlHttp.send( null );
  return xmlHttp.responseText;
}
// // const raw_output = httpGet('http://localhost:8000/getData?character=spider-man')
// const raw_output = httpGet('http://localhost:8000/getData?character=' + char)
// const JSON_output = JSON.parse(raw_output)
// console.log(JSON_output)

// for (index in JSON_output.creators) {
// 	let creator = JSON_output.creators[index]
// 	let desc = JSON_output.descriptions[index]
// 	let title = JSON_output.titles[index]
// 	let year = JSON_output.years[index]
// 	appendEvent(creator, desc, title, year);
// }

function appendEvent(creator, desc, title, year) {
	var container = document.getElementById('timeline-container')
	console.log(container)
	if (desc === "") {
		container.innerHTML += 	'<li class="timeline-item">\
									<div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i></div>\
										<div class="timeline-panel">\
											<div class="timeline-heading">\
												<h4 class="timeline-title">' + title + '</h4>\
												<p><small class="text-muted">Directed by ' + creator + ' in ' + year + '</small></p>\
											</div>\
										</div>\
									</li>'
	}
	else {
		container.innerHTML +=  '<li class="timeline-item">\
							<div class="timeline-badge warning"><i class="glyphicon glyphicon-check"></i></div>\
							<div class="timeline-panel long">\
								<div class="timeline-heading">\
										<h4 class="timeline-title">' + title + '</h4>\
										<p><small class="text-muted">Directed by ' + creator + ' in ' + year + '</small></p>\
								</div>\
								<div class="timeline-body">\
									<p>' + desc + '</p>\
								</div>\
							</div>\
						</li>'
	}
}

</script>
</body>
